@model IEnumerable<TechShop.Core.Models.ProductWithMinPrice>

@if (Model != null && Model.Any())
{
	<div class="product-carousel" style="display:flex;width:100%">
		@foreach (var product in Model)
		{

			<a class="product" style="width:25%" asp-controller="Product" asp-action="Detail" asp-route-id="@product.UrlSlug">

				<div class="product-img">
					<img src="@product.Image" alt="@product.Name" onerror="this.onerror=null;this.src='/lib/electro-template/img/product01.png';">
					<div class="product-label">
					@* 	@if (product.Discount > 0)
						{
							<span class="sale">-@product.Discount%</span>
						} *@
						<span class="new">NEW</span> 
					</div>
				</div>

				
				<div class="product-body">
					<p class="product-category">@product.CateName</p> 
					<h3 class="product-name">@product.Name</h3>
					<h4 class="product-price">
						$@product.MinPrice
						@if (product.Discount > 0)
						{
							@* <del class="product-old-price">
								@(product.MinPrice * product.Discount)
							</del> *@
						}
					</h4>
				@* 	<div class="product-rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i> 
					</div>

					
					<div class="product-btns">
						<button class="add-to-wishlist">
							<i class="fa fa-heart-o"></i>
							<span class="tooltipp">add to wishlist</span>
						</button>
						<button class="add-to-compare">
							<i class="fa fa-exchange"></i>
							<span class="tooltipp">add to compare</span>
						</button>
						<button class="quick-view">
							<i class="fa fa-eye"></i>
							<span class="tooltipp">quick view</span>
						</button>
					</div> *@
				</div>
			</a>

		}
	</div>
}
else
{
	<p>No products available.</p>
}


