@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TechShop.Core.Models.Comment

<div style="box-sizing:border-box" class="row m-0 py-2 align-items-center">
    <div class="col-1 p-0 text-center">
        <i class="fa-solid fa-circle-user fs-1"></i>
    </div>
    <div class="col p-0">
        <p class="fw-bold m-0">
            @Model.User.FullName 
            <span class="fw-lighter">@Model.CreatedAt</span>
        </p>
        <p class="m-0 opacity-50">
            @Model.User.Email
            <span class="fw-lighter">
                @(Model.Rate == 1 ? "⭐" : Model.Rate == 2 ? "⭐⭐" : Model.Rate == 3 ? "⭐⭐⭐" : Model.Rate == 4 ? "⭐⭐⭐⭐" : Model.Rate == 5 ? "⭐⭐⭐⭐⭐" : "")
            </span>
        </p>
        <p class="m-0">
            @Model.CommentText
        </p>
    </div>
</div>
@if (Model.UserReplies is not null)
{
    <div class="ms-5">
        @foreach (var item in Model.UserReplies)
        {
            await Html.RenderPartialAsync("_commentItemPartial", item);
        }
    </div>
}

